<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Whiz</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <h1 id="title">Math Whiz</h1>

    <div id="mainContainer" class="allContainers">
        <form action="/nowhere">
            <div>
                <h3>Select difficulty:</h3>
                <input type="radio" name="difficulty" value="easy">
                <label for="easy" class="selection">Easy</label>
                <input type="radio" name="difficulty" value="normal" checked>
                <label for="normal" class="selection">Normal</label>
                <input type="radio" name="difficulty" value="hard">
                <label for="hard" class="selection">Hard</label>
            </div>
            <div>
                <h3>Select operators:</h3>
                <input type="checkbox" name="plus" value="+" checked>
                <label for="plus" class="selection">Addition</label>
                <input type="checkbox" name="minus" value="-">
                <label for="minus" class="selection">Subtraction</label><br>
                <input type="checkbox" name="multiply" value="*">
                <label for="multiply" class="selection">Multiplication</label>
                <input type="checkbox" name="divide" value="/">
                <label for="divide" class="selection">Division</label>
            </div>
            <div>
                <h3>Select game style:</h3>
                <input type="radio" name="game" value="unlimited" checked>
                <label for="unlimited" class="selection">Unlimited</label>
                <input type="radio" name="game" value="minute">
                <label for="minute" class="selection">60 Second Fury</label>
            </div>
            <div>
                <button id="startButton" class="allButtons">Start Game</button>
            </div>
        </form>
        <div id="gameContent" class="hidden">
            <div>
                <h1 id="equation"><span id="num1">X</span> <span id="sign">+</span> <span id="num2">Y</span></h1>
            </div>
            <div id="answerDiv">
                <form id="answer" action="/nowhere">
                    <input type="number" name="number">
                </form>
            </div>
            <div id="buttonSection">
                <button id="statsButton" class="allButtons">Stats</button>
                <button id="performance" class="allButtons">History</button>
                <button id="quitButton" class="allButtons">End Game</button>
            </div>
        </div>
    </div>

    <div id="statsContainer" class="hidden allContainers">
        <h1 class="statsText headliner">Progress</h1>
        <h1 class="statsText"><span id="right">0</span> out of <span id="total">0</span></h1>
        <h1 class="statsText"><span id="percentage">0</span>%</h1>
    </div>

    <div id="ansContainer" class="hidden allContainers">
        <div id="rightContainer" class="ansList">
            <h1 class="headliner">Right</h1>
            <ul id="rightList">
            </ul>
        </div>
        <div id="wrongContainer" class="ansList">
            <h1 class="headliner">Missed</h1>
            <ul id="wrongList">
            </ul>
        </div>
    </div>

    <script src="/scripts/app.js"></script>
</body>

</html>