/* styles for overall app */

body {
	font-family: "Rubik", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #8e9eab; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#eef2f3,
		#8e9eab
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#eef2f3,
		#8e9eab
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#title {
	margin-top: 0.75em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	font-size: 3.5em;
	color: black;
	transition: 0.2s ease-in-out;
	animation: title-appear 1.5s ease-in-out;
	filter: drop-shadow(1px 1px 1px #333);
}

#title:hover {
	transform: scale(1.05);
	filter: drop-shadow(8px 8px 1px #333);
	color: coral;
}

#error-text {
	color: crimson;
	margin-bottom: 0;
}

.hidden {
	display: none !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@keyframes title-appear {
	from {
		opacity: 0;
		transform: scale(0);
	}
	30% {
		opacity: 0;
		transform: scale(0.3);
	}
	to {
		opacity: 1;
		tarnsform: scale(1);
	}
}

@media all and (max-width: 575px) {
	#title {
		font-size: 2em;
	}

	#error-text {
		font-size: 1.25em;
	}
}
