/* styles for all buttons */

#button-section {
	display: flex;
	justify-content: space-evenly;
	width: 90%;
}

.all-buttons {
	background-color: coral;
	width: 50%;
	height: 1.5em;
	font-size: 1.5em;
	text-transform: uppercase;
	border: 1px solid #333333;
	box-shadow: 1px 1px black;
}

.all-buttons:hover {
	background-color: rgb(248, 88, 29);
	transform: scale(1.02);
	cursor: pointer;
}

.all-buttons:focus {
	outline: none;
}

.all-buttons:active {
	transform: scale(0.99);
}
