/* styles for all buttons */

#button-section {
	display: flex;
	justify-content: space-evenly;
	width: 90%;
}

#answer-btn {
	height: 100%;
	width: 40px;
	background-color: black;
	color: coral;
}

#answer-btn:hover {
	background-color: coral;
	color: black;
}

.event-btns {
	background-color: coral;
	width: 50%;
	height: 1.5em;
	text-transform: uppercase;
}

.event-btns:hover {
	background-color: black;
	color: coral;
}

.all-btns {
	border: 1px solid #333;
	box-shadow: 1px 1px black;
	font-size: 1.5em;
	transition: transform 0.1s ease-in-out;
}

.all-btns:hover {
	transform: scale(1.02);
	cursor: pointer;
}

.all-btns:focus {
	outline: none;
}

.all-btns:active {
	transform: scale(0.99);
}

@media all and (max-width: 575px) {
	.all-btns {
		font-size: 1.25em;
	}

	#answer-btn {
		font-size: 1.35em;
	}
}
