/* styles for all containers */

#main-container {
	border: 1px solid #333333;
	box-shadow: 2px 2px black;
	width: 500px;
	height: 300px;
	text-align: center;
	animation: container-appear 1s ease-in-out;
}

#stats-container {
	margin-top: 2em;
	width: 300px;
	height: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: 0.1s linear;
	overflow: hidden;
	text-align: center;
}

#answer-container {
	margin-top: 2em;
	width: 350px;
	height: 0px;
	display: flex;
	transition: 0.1s linear;
	overflow: hidden;
	overflow-y: auto;
}

#answer-container div:first-of-type {
	border-right: 1px solid black;
}

.all-containers {
	background-color: rgb(146, 170, 192);
}

@keyframes container-appear {
	from {
		opacity: 0;
		transform: translateY(5em);
	}
	50% {
		opacity: 0.5;
		transform: translateY(-3em);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
